@tailwind base;
@layer base {
  h1{
    @apply text-4xl;
  }
  h2{
    @apply text-3xl;
  }
}
@tailwind components;
@tailwind utilities;
@layer utilities {
  .clip-path-lt-right-triangle{
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%)
  }

  .clip-path-rt-right-triangle{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%)
  }

  .clip-path-lb-right-triangle{
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%)
  }

  .clip-path-rb-right-triangle{
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%)
  }

  .clip-path-tlr-map-triangle{
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%)
  }

  .clip-path-blr-equal-triangle{
    /* width equal t0 height */
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%)
  }

  .clip-path-for-about{
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  }
}

@font-face{
  font-family: "Noto Sans";
  /* src: url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap") format('truetype'); */
  src: url("/NotoSans-Regular.ttf");
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
  color: #3f1f39;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
